<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613098922700-mfep2v25vf3gqsauu1kou78ik4ubp2m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613098922700-mfep2v25vf3gqsauu1kou78ik4ubp2m7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtLIU3pByr_39TUj8gNvu911cM3iOEHDE</string>
	<key>GCM_SENDER_ID</key>
	<string>613098922700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appReceitas</string>
	<key>PROJECT_ID</key>
	<string>fridgey-3f2b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgey-3f2b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613098922700:ios:762cd783cbae8e7dd31869</string>
</dict>
</plist>